html, body{
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#dashboardContainer {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

#chatDisplay {
    overflow: auto;
    width: 300px;
    height: 500px;
    border: solid 1px black;
    margin: 10px;
}

#articleDisplay {
    overflow: auto;
    width: 300px;
    height: 500px;
    border: solid 1px black;
    margin: 10px;
}

#friendContainer {
    display: none
}

#taskAndEventContainer {
    height: 500px;
}

#eventContainer {
    height: 51.85%
}

#taskContainer {
    height: 51.85%
}

#eventDisplay {
    overflow: auto;
    width: 300px;
    height: 85%;
    border: solid 1px black;
    margin: 10px;
}

#taskDisplay {
    overflow: auto;
    width: 300px;
    height: 85%;
    border: solid 1px black;
    margin: 10px;
}

.sectionHeader {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}