{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 1,
        "quotes": ["error", "double"],
        "eqeqeq": 2,
        "no-trailing-spaces": 2,
        "array-element-newline": 1,
        "indent": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-var": 1
    }
}